#header {
  height: 65px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  .logo-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      max-width: 80px;
    }
    .logo-title {
      max-width: 260px;
    }
    .line {
      display: block;
      width: 4px;
      height: 23px;
      background: #e7161b;
    }
  }
  .btn-logout {
    img {
      max-width: 22px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
  }
  @media screen and (max-width: 1024px) {
    .btn-nav,
    .btn-logout-m {
      img {
        width: 20px;
      }
    }
  }
}
#footer {
  padding: 3% 30px;
  background: #f7f7f7;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .company-info {
    margin-bottom: 5px;
  }
  .copy {
    margin-top: 30px;
  }
  .customer-center {
    text-align: right;
    img {
      width: 24px;
      margin-bottom: 5px;
    }
    strong {
      font-size: 18px;
      font-weight: bold;
      span {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 8% 15px;
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
    .company-info {
      margin-bottom: 0;
    }
    .copy {
      margin-top: 0;
    }
    .customer-center {
      margin-top: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      margin-left: auto;
      img {
        margin-bottom: 0;
        margin-right: 5px;
      }
    }
  }
}

#content {
  display: flex;
  aside {
    width: 200px;
    background: #494949;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
  section {
    width: calc(100% - 200px);
    background: #424242;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @media screen and (max-width: 1024px) {
    position: relative;
    aside {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;
      transform: translateX(-100%);
    }

    aside.active {
      transform: translateX(0);
    }
    section {
      width: 100%;
    }
  }
}

#nav {
  ul.main-menu {
    li {
      a {
        width: 100%;
        height: 70px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        padding-left: 20px;
        position: relative;
        img[class^="icon"] {
          width: 20px;
        }
      }
      &.active {
        background: #5a5a5a;
        a {
          font-weight: bold;
        }
      }
      ul.sub-menu {
        li {
          a {
            color: #fff;
            font-size: 16px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
          }
          &.active {
            position: relative;
            a {
              background: #5a5a5a;
              &::before {
                content: "";
                width: 6px;
                height: 100%;
                background: #ee0000;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  .custom-icon {
    display: inline-block;
    width: 8px;
    height: 12px;
    vertical-align: middle;
    background-image: url("../../img//nav/icon-arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
    &.open {
      transform: rotate(90deg);
    }
  }
}

.login {
  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    label {
      color: #666666;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    input {
      width: 100%;
      height: 64px;
      border: 1.2px solid #e7161b;
      border-radius: 10px;
      background: #fff;
      padding: 0.5rem 1rem;
      font-size: 18px;
      text-indent: 10px;
      &::placeholder {
        color: #666;
      }
    }
    @media screen and (max-width: 1024px) {
      label {
        padding-left: 0;
        font-size: 1.2rem;
      }
      input {
        height: 46px;
        font-size: 14px;
      }
    }
  }
}

.border-none {
  border: none !important;
}
