#header {
  height: 65px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  .logo-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      max-width: 80px;
    }
    .logo-title {
      max-width: 260px;
    }
    .line {
      display: block;
      width: 4px;
      height: 23px;
      background: #e7161b;
    }
  }
  .btn-logout {
    img {
      max-width: 22px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #666;

    font-size: 14px;
    font-weight: bold;
  }
  @media screen and (max-width: 1024px) {
    .btn-nav,
    .btn-logout-m {
      img {
        width: 20px;
      }
    }
    .logo-wrap {
      .logo-title {
        max-width: 200px;
      }
      .line {
        display: none;
      }
    }
  }
}

#footer {
  padding: 3% 30px;
  background: #f7f7f7;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .company-info {
    margin-bottom: 5px;
  }
  .copy {
    margin-top: 30px;
  }
  .customer-center {
    display: flex;
    flex-direction: column;
    align-items: end;
    img {
      width: 24px;
      margin-bottom: 5px;
      display: block;
    }
    strong {
      font-size: 18px;
      font-weight: bold;
      span {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 8% 15px;
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
    .company-info {
      margin-bottom: 0;
    }
    .copy {
      margin-top: 0;
    }
    .customer-center {
      margin-top: 30px;
      flex-direction: row;
      margin-left: auto;
      img {
        margin-bottom: 0;
        margin-right: 5px;
      }
    }
  }
}

#content {
  display: flex;
  aside {
    width: 200px;
    background: #494949;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
  section {
    width: calc(100% - 200px);
    background: #424242;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @media screen and (max-width: 1024px) {
    position: relative;
    aside {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;
      transform: translateX(-100%);
    }

    aside.active {
      transform: translateX(0);
    }
    section {
      width: 100%;
    }
  }
}

#nav {
  ul.main-menu {
    li {
      a {
        width: 100%;
        height: 70px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        padding-left: 20px;
        position: relative;
        img[class^="icon"] {
          width: 20px;
        }
      }
      &.active {
        background: #5a5a5a;
        a {
          font-weight: bold;
        }
      }
      ul.sub-menu {
        display: none;
        li {
          a {
            color: #fff;
            font-size: 16px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
          }
          &.active {
            position: relative;
            a {
              background: #5a5a5a;
              &::before {
                content: "";
                width: 6px;
                height: 100%;
                background: #ee0000;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  .custom-icon {
    display: inline-block;
    width: 8px;
    height: 12px;
    vertical-align: middle;
    background-image: url("../../img//nav/icon-arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
    &.open {
      transform: rotate(90deg);
    }
  }
}

.login {
  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    label {
      color: #666666;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    input {
      width: 100%;
      height: 64px;
      border: 1.2px solid #e7161b;
      border-radius: 10px;
      background: #fff;
      padding: 0.5rem 1rem;
      font-size: 18px;
      text-indent: 10px;
      &::placeholder {
        color: #666;
      }
    }
    @media screen and (max-width: 1024px) {
      label {
        padding-left: 0;
        font-size: 1.2rem;
      }
      input {
        height: 46px;
        font-size: 14px;
      }
    }
  }
}

.border-none {
  border: none !important;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // 라벨 스타일링
  label {
    position: relative;
    cursor: pointer;
    padding-left: 25px; // 이미지 크기에 따라 조정
    line-height: 20px; // 이미지 크기에 맞춰 조정
    display: inline-block;

    // 기본 이미지 (체크되지 않은 상태)
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url("../../img/checkbox.png");
      background-size: cover;
    }
  }

  // 체크된 상태의 이미지
  input[type="checkbox"]:checked + label {
    &:before {
      background-image: url("../../img/checkbox_on.png");
    }
  }

  // 포커스 상태 스타일 (선택사항)
  input[type="checkbox"]:focus + label {
    &:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    }
  }

  @media screen and (max-width: 1024px) {
    label {
      font-size: 12px;
    }
  }
}

// 라디오 버튼
$radio-size: 20px;
$radio-color: #e7161b;
$radio-border-color: #bdc3c7;
$radio-background: #fff;
$radio-text-color: #333;
$transition-time: 0.2s;

.radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
  .radio-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    flex-wrap: wrap;
  }

  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .radio-checkmark {
    height: $radio-size;
    width: $radio-size;
    background-color: $radio-background;
    border: 2px solid $radio-color;
    border-radius: 50%;
    margin-right: 8px;
    transition: all $transition-time;
  }

  .radio-container input:checked ~ .radio-checkmark {
    position: relative;
    background-color: #fff;
    border-color: $radio-color;
    &:after {
      content: "◉";
      position: absolute;
      top: -4px;
      left: -3px;
      margin-left: 0;
      font-size: 22px;
      color: $radio-color;
    }
  }

  .radio-label {
    color: $radio-text-color;
  }

  .radio-container input:checked ~ .radio-label {
    font-weight: bold;
  }

  .radio-container input:focus ~ .radio-checkmark {
    box-shadow: 0 0 0 3px rgba($radio-color, 0.3);
  }

  @media screen and (max-width: 1024px) {
    gap: 10px;
    flex-wrap: wrap;
    .radio-container,
    .radio-label {
      font-size: 12px;
    }
  }
}

// 모달
.modal {
  padding: 1.5%;
  .modal-title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 4%;
    span {
      color: #b1b1b2;
      font-size: 21px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-bottom: 4%;
      span {
        font-size: 18px;
      }
    }
  }
  .modal-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
    gap: 5px;
    .btn {
      width: 64px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      background: #fa000e;
      &.gray {
        background: #494949;
      }
    }
  }
  .form-group {
    .select-wrapper {
      width: 100%;
      select {
        background: #fff;
        border: 1px solid #ddd;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 15px;
  }
}
