.data-search-box {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 3% 3% 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 8.485px 8.485px 16.38px 1.62px rgba(0, 0, 0, 0.15);
  .btn-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 2%;
  }
  .btn-search {
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
    background: #fa000e;
    &.gray {
      padding: 0 10px;
      width: 130px;
      background: #494949;
    }
  }
  @media screen and (max-width: 1024px) {
    border: none;
    box-shadow: none;
    padding: 0 5px 20px;
    .btn-wrap {
      .btn-search {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
.form-group {
  width: 100%;
  display: flex;
  gap: 2%;
  align-items: center;
  > label {
    width: 70px;
    font-size: 16px;
    font-weight: bold;
  }
  > strong {
    width: 70px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
  }

  .form-group-input {
    width: 400px;
    background: #ededf4;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    text-indent: 4px;
  }
  .select-wrapper {
    width: 400px;
    position: relative;
    &::after {
      content: "";
      background-image: url("../../img/select-icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      right: 0;
    }
    select {
      width: 100%;
      background: #ededf4;
      height: 30px;
      border-radius: 5px;
      line-height: 30px;
      text-indent: 10px;
    }
  }
  .date-range {
    display: flex;
    gap: 10px;
    align-items: baseline;
    .btn-wrap {
      display: flex;
      gap: 5px;
      .btn {
        border-radius: 5px;
        width: 60px;
        height: 28px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background: #494949;
        &.btn-active {
          background: #e7161b;
        }
      }
    }
    .date-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      .date-inner {
        display: flex;
        align-items: center;
      }
      .ui-datepicker-trigger {
        width: 30px;
      }
      input {
        background: #ededf4;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;
        text-indent: 4px;
        font-size: 14px;
        position: relative;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::after {
          content: "";
          background-image: url("../../img/icon-calendar.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  .checkboxs-wrapper {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &.row-group {
    flex-wrap: wrap;
    row-gap: 10px;
    .select-wrapper {
      width: 200px;
    }
    @media screen and (max-width: 1024px) {
      .select-wrapper {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    gap: inherit;
    row-gap: 10px;
    > label {
      font-size: 14px;
    }
    > strong {
      font-size: 14px;
    }
    .form-group-input {
      width: 100%;
    }
    .select-wrapper {
      width: 100%;
    }
    .date-range {
      flex-direction: column;
      gap: inherit;
      row-gap: 10px;
      .btn-wrap {
        .btn {
          width: 48px;
          height: 24px;
          font-size: 12px;
          font-weight: 600;
        }
      }
      .date-wrapper {
        width: 100%;
        .date-inner {
          width: 46%;
        }
        input {
          width: 100%;
        }
      }
    }
    .checkboxs-wrapper {
      gap: 5px;
    }
  }
}

.data-table-wrapper {
  margin-top: 20px;
  border: 2px solid #ddd;
  padding: 1% 1% 40px;
  border-radius: 5px;
  box-shadow: 8.485px 8.485px 16.38px 1.62px rgba(0, 0, 0, 0.15);

  .data-table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .result {
      font-size: 14px;
      span {
        color: #e7161b;
      }
    }
    .btn-wrap {
      display: flex;
      align-items: center;
      gap: 5px;
      button {
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;
        background: #fa000e;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 8% 10px 0;
    .data-table-top {
      .result {
        font-size: 12px;
      }
      .btn-wrap {
        button {
          width: 50px;
          height: 20px;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

//*  table style *//
$border-color: #c3c3c3;
$header-bg-color: #ededf4;
$content-bg-color: #f7f7f7;

table.custom-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  white-space: nowrap;

  th,
  td {
    border: 1px solid $border-color;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }

  thead {
    background-color: $header-bg-color;

    th {
      font-weight: bold;
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $content-bg-color;
      }
    }

    td {
      &:first-child {
        width: 40px;
      }
    }
  }
  @media (max-width: 1024px) {
    font-size: 11px;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
  }
}
table.notice-table {
  tbody {
    .align-left {
      text-align: left;
    }
  }
}

// pagination.js style custom
.pagination-wrapper {
  margin: 20px 0;
  .paginationjs-pages {
    ul {
      li {
        border: none;
        margin-left: 5px;
        a {
          height: 30px;
          background: #494949;
          border-radius: 0;
          color: #fff !important;
          opacity: 1;
        }
        &:first-child {
          margin-left: 0;
          a {
            border-radius: 0;
          }
        }
        &:last-child {
          border-right: none;
          a {
            border-radius: 0;
          }
        }
        &.active {
          a {
            background: #e7161b;
          }
        }
        &.disabled {
          a {
            opacity: 1;
            &:hover {
              background: #494949;
            }
          }
        }
      }
    }
  }
}
