.data-search-box {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 3% 3% 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 8.485px 8.485px 16.38px 1.62px rgba(0, 0, 0, 0.15);
}
.data-search-box .btn-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 2%;
}
.data-search-box .btn-search {
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  background: #fa000e;
}
.data-search-box .btn-search.gray {
  padding: 0 10px;
  width: 130px;
  background: #494949;
}
@media screen and (max-width: 1024px) {
  .data-search-box {
    border: none;
    box-shadow: none;
    padding: 0 5px 20px;
  }
  .data-search-box .btn-wrap .btn-search {
    font-size: 14px;
    font-weight: 600;
  }
}

.form-group {
  width: 100%;
  display: flex;
  gap: 2%;
  align-items: center;
}
.form-group > label {
  width: 70px;
  font-size: 16px;
  font-weight: bold;
}
.form-group > strong {
  width: 70px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.form-group .form-group-input {
  width: 400px;
  background: #ededf4;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-indent: 4px;
}
.form-group .select-wrapper {
  width: 400px;
  position: relative;
}
.form-group .select-wrapper::after {
  content: "";
  background-image: url("../../img/select-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.form-group .select-wrapper select {
  width: 100%;
  background: #ededf4;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-indent: 10px;
}
.form-group .date-range {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.form-group .date-range .btn-wrap {
  display: flex;
  gap: 5px;
}
.form-group .date-range .btn-wrap .btn {
  border-radius: 5px;
  width: 60px;
  height: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: #494949;
}
.form-group .date-range .btn-wrap .btn.btn-active {
  background: #e7161b;
}
.form-group .date-range .date-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.form-group .date-range .date-wrapper .date-inner {
  display: flex;
  align-items: center;
}
.form-group .date-range .date-wrapper .ui-datepicker-trigger {
  width: 30px;
}
.form-group .date-range .date-wrapper input {
  background: #ededf4;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-indent: 4px;
  font-size: 14px;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-group .date-range .date-wrapper input::after {
  content: "";
  background-image: url("../../img/icon-calendar.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.form-group .checkboxs-wrapper {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.form-group.row-group {
  flex-wrap: wrap;
  row-gap: 10px;
}
.form-group.row-group .select-wrapper {
  width: 200px;
}
@media screen and (max-width: 1024px) {
  .form-group.row-group .select-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
    gap: inherit;
    row-gap: 10px;
  }
  .form-group > label {
    font-size: 14px;
  }
  .form-group > strong {
    font-size: 14px;
  }
  .form-group .form-group-input {
    width: 100%;
  }
  .form-group .select-wrapper {
    width: 100%;
  }
  .form-group .date-range {
    flex-direction: column;
    gap: inherit;
    row-gap: 10px;
  }
  .form-group .date-range .btn-wrap .btn {
    width: 48px;
    height: 24px;
    font-size: 12px;
    font-weight: 600;
  }
  .form-group .date-range .date-wrapper {
    width: 100%;
  }
  .form-group .date-range .date-wrapper .date-inner {
    width: 46%;
  }
  .form-group .date-range .date-wrapper input {
    width: 100%;
  }
  .form-group .checkboxs-wrapper {
    gap: 5px;
  }
}

.data-table-wrapper {
  margin-top: 20px;
  border: 2px solid #ddd;
  padding: 1% 1% 40px;
  border-radius: 5px;
  box-shadow: 8.485px 8.485px 16.38px 1.62px rgba(0, 0, 0, 0.15);
}
.data-table-wrapper .data-table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.data-table-wrapper .data-table-top .result {
  font-size: 14px;
}
.data-table-wrapper .data-table-top .result span {
  color: #e7161b;
}
.data-table-wrapper .data-table-top .btn-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}
.data-table-wrapper .data-table-top .btn-wrap button {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  background: #fa000e;
}
@media screen and (max-width: 1024px) {
  .data-table-wrapper {
    padding: 8% 10px 0;
  }
  .data-table-wrapper .data-table-top .result {
    font-size: 12px;
  }
  .data-table-wrapper .data-table-top .btn-wrap button {
    width: 50px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table.custom-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  white-space: nowrap;
}
table.custom-table th,
table.custom-table td {
  border: 1px solid #c3c3c3;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
table.custom-table thead {
  background-color: #ededf4;
}
table.custom-table thead th {
  font-weight: bold;
  white-space: nowrap;
}
table.custom-table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
table.custom-table tbody td:first-child {
  width: 40px;
}
@media (max-width: 1024px) {
  table.custom-table {
    font-size: 11px;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
  }
}

table.notice-table tbody .align-left {
  text-align: left;
}

.pagination-wrapper {
  margin: 20px 0;
}
.pagination-wrapper .paginationjs-pages ul li {
  border: none;
  margin-left: 5px;
}
.pagination-wrapper .paginationjs-pages ul li a {
  height: 30px;
  background: #494949;
  border-radius: 0;
  color: #fff !important;
  opacity: 1;
}
.pagination-wrapper .paginationjs-pages ul li:first-child {
  margin-left: 0;
}
.pagination-wrapper .paginationjs-pages ul li:first-child a {
  border-radius: 0;
}
.pagination-wrapper .paginationjs-pages ul li:last-child {
  border-right: none;
}
.pagination-wrapper .paginationjs-pages ul li:last-child a {
  border-radius: 0;
}
.pagination-wrapper .paginationjs-pages ul li.active a {
  background: #e7161b;
}
.pagination-wrapper .paginationjs-pages ul li.disabled a {
  opacity: 1;
}
.pagination-wrapper .paginationjs-pages ul li.disabled a:hover {
  background: #494949;
}

/*# sourceMappingURL=table.css.map */
